$da950:(
    "h1": 120%,
    "imgtext": 85%,
    "summary": 90%
);


$da700:(
    "summary": 70%,
    "date": 80%,
    "title":85%
);

$da600:(
    "h1": 120%,
    "pDate": 70%,
);

$footerMedia:(
    "footer90": 90%,
    "footer80": 80%
);
